<%- include("partials/header") -%>
<div>
  <div class="title-container">
    <h1 class="home-title"><%= RestrauntName %></h1>
    <a href="/user">
      <img src="/assets/userIcon.png" alt="profile" />
    </a>
  </div>

  <div class="hero-section">
    <div class="home-info">
      <h1>The Taste that makes you feel good.</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        ultrices eget nibh quis finibus. Donec.
      </p>
      <a href="/menu"> <button>View our Menu</button></a>
    </div>
    <div class="home-image">
      <img src="/assets/heroImage.jpg" alt="Poster" />
    </div>
    <div class="contacts">
      <div class="contact-info">
        <h1>Address</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </div>
      <div class="contact-info">
        <h1>Address</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </div>
      <div class="contact-info">
        <h1>Address</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") -%> <%- include("partials/finisher") -%>
